---
import RootLayout from "$layouts/root.astro";

// empty frontmatter tag
---

<RootLayout>
	<div class="prose dark:prose-invert">
		<h1>404: not found</h1>
		<a href="/">go back home</a>
	</div>
</RootLayout>
